<div style="font-family:Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2"><div class="adM">
</div><div style="margin:50px auto;width:70%;padding:20px 0"><div class="adM">
  </div><div style="border-bottom:1px solid #eee"><div class="adM">
    </div><a style="font-size:1.4em;color:#00466a;text-decoration:none;font-weight:600">Ekart</a>
  </div>
  <p style="font-size:1.1em">Hi #user_name,</p>
  <p>Please enter below OTP to reset your account password.</p>
  <h2 style="background:#00466a;margin-left: 150px; width:max-content;padding:0 10px;color:#fff;border-radius:4px">#otp_no</h2>
  <p style="font-size:0.9em">Regards,<br>Ekart <br> Website: www.ekart.in <br></p>
  <hr style="border:none;border-top:1px solid #eee">
  <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
    <p>Ekart</p>
    <p>Coimbatore</p>
    <p>Tamil Nadu</p>
    <p>India</p><div class="yj6qo"></div><div class="adL">
  </div></div><div class="adL">
</div></div><div class="adL">
</div></div>